body { font-family: Verdana, Arial, sans-serif; }

table.sourcecode {border: 1px solid black; width: 100%; border-collapse: collapse; }
table.sourcecode tr.al {color: white; background-color: black;}
table.sourcecode tr.sl {color: black; background-color: white;}
table.sourcecode tr.sel {background-color: yellow; }
table.sourcecode tr.al.sel {background-color: blue; }
table.sourcecode th {border-right: 1px solid grey; font-weight: normal; white-space: pre;}
table.sourcecode td {white-space: pre; font-family: Courier New, monospaced;}

table.sourcecode.showsource tr.al {display: none}
table.sourcecode.showsource tr.sl td sub {display: none}
table.sourcecode.showassembly tr.sl {display: none}
table.sourcecode.showassembly tr.al td sup {display: none}
table.sourcecode.collapseall tr.sl {display:none}
table.sourcecode.collapseall tr.al {display:none}
table.sourcecode.collapseall tr.sl td sub {display: none}
table.sourcecode.collapseall tr.sl.show {display:table-row;}

table.sourcecode a {color: inherit; outline: none; }

table.sourcecode tr.sl th a { display: block; width: 100%; cursor: pointer; user-select: none; text-align: right; text-decoration: none; 
		font-weight: normal; }
table.sourcecode tr.sl th a::before { content: attr(data-l); margin-right: 5px; }

table.sourcecode td sub {background-color: black; color:white; border-radius: 0px 0px 50% 50%; display:inline-block;}
table.sourcecode td sub a { color: white; display: block; padding: 1px 5px 2px 5px; width: 100%; text-decoration: none;} 
table.sourcecode td sub s {display: block; width: 100%; height: 5px;}
table.sourcecode td sub s u {display: inline-block; width: 50%; background-color: white; border-radius: 0px 0px 100% 0px; height: 5px; vertical-align: top;}
table.sourcecode td sub s b {display: inline-block; width: 50%; background-color: white; border-radius: 0px 0px 0px 100%; height: 5px; vertical-align: top;}

table.sourcecode tr.al td sup {display: inline-block; width: 1em; height: 1em; background-color: white; color: black; border-radius: 50%; text-align: center; }

table.sourcecode tr.al th a, table.sourcecode tr.al td sup a {text-decoration: none;}

a.currusage { background-color: #0f0;}
a.currdef {background-color: orange; }

span#control {border: 2px solid red; }

div#togglebuttons.collapseall { display: none; }